If:
  PathMatch: .*subprojects.*
Diagnostics:
  Suppress: "*"
---
CompileFlags:
  Add:
    - "-std=c++23"

Index:
  Background: Build
  StandardLibrary: Yes

Hover:
  ShowAKA: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Diagnostics:
  UnusedIncludes: Strict
